@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";
@import "../../styles/partials/typography.scss";

.promptpage {
  // font-family: "Corben-Regular";
  background-color: $Powder-Blue;
  min-width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__container {
    background-color: $MVP-White;
    position: absolute;
    top: 9.5514rem;
    // top: 75px;
    border-radius: 20px;
    border: 4px solid #000;
    box-sizing: border-box;
    width: 70%;
    //min-height: 70vh;
    flex-direction: column;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__top-bar {
    border-radius: 16px 16px 0px 0px;
    background-color: $MVP-Yellow;
    // border: 0px 0px 4px 0px solid #000;
    width: 100%;
    min-height: 5.5vh;
    border-bottom: 4px solid #000;
  }

  &__middle-container {
    padding: 3%;
    background-color: $MVP-White;
    width: 100%;
    min-height: 10vh;
    flex-direction: column;

    &__sub-container {
      width: 100%;
      text-align: center;
      font-weight: 700;
    }

    &__coffeemug-img {
      width: 15%;
    }
  }

  .welcome-message {
    font-family: Corben-Bold;
    font-size: 1.875rem;
    font-weight: 700;
  }
  .welcome-text {
    font-family: Gilroy;
    &--main {
      font-size: 1.25rem;
    }
  }

  .text-container > * {
    padding-top: 25px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
  }

  &__bottom-bar {
    margin-top: auto;
    border-radius: 0px 0px 16px 16px;
    background-color: #ffd22f;
    width: 100%;
    min-height: 5.5vh;
    border-top: 4px solid #000;
  }
}

.back,
.next {
  cursor: pointer;
}
