@import "../../styles/partials/typography.scss";

.challenge-card {
    width: 24.875rem;
    height: 28.5rem;
    background: #fff;
    box-shadow: 0px 0px 12px 2px rgba(82, 82, 82, 0.16);
    border-radius: 0.75rem;
    border-top: 3px solid var(--colors-neutrals-800, #131313);
    border-right: 6px solid var(--colors-neutrals-800, #131313);
    border-bottom: 6px solid var(--colors-neutrals-800, #131313);
    border-left: 3px solid var(--colors-neutrals-800, #131313);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    gap: 0.25rem;
    padding-bottom: 0.5rem;

    .image-container {
        border-radius: 0.75rem 0.75rem 0 0;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
            width: 24.375rem;
            height: 15rem;
            object-fit: cover;
        }

        .difficulty-button {
            border-radius: 2.5rem;
            padding: 0 1rem;
            gap: 0.625rem;
            position: absolute;
            top: 1rem;
            left: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;

            .difficulty-text {
                color: #000;
                font-size: 0.75rem;
                font-style: normal;
                font-family: Corben;
                font-weight: 700;
                letter-spacing: 0.0225rem;
            }
        }
    }

    .content-section {
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        .info-row {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            img {
                width: 1.5rem;
                height: 1.5rem;
                color: #131313
            }
        }

        .category-text,
        .duration-text,
        .task-text {
            color: #343434;
            font-size: 1.125rem;
            font-style: normal;
            font-family: Corben-Regular;
            font-weight: 400;
            line-height: 1.5rem;
            letter-spacing: 0.03375rem;
        }

        .learn-more-button {
            border-radius: 0.25rem;
            border-top: 3px solid var(--colors-neutrals-800, #131313);
            border-right: 6px solid var(--colors-neutrals-800, #131313);
            border-bottom: 6px solid var(--colors-neutrals-800, #131313);
            border-left: 3px solid var(--colors-neutrals-800, #131313);
            width: 100%;
            padding: 0.625rem 3rem;
            background-color: #0099FF;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            cursor: pointer;

            .button-text {
                color: #000;
                font-size: 1.25rem;
                font-family: Corben;
                font-style: normal;
                font-weight: 700;
                line-height: 1.75rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .challenge-card {
        width: 100%;

        img {
            height: auto;
            max-width: 100%;
        }

        .content-section {
            font-size: 16px;
        }
    }
}

@media (max-width: 480px) {
    .challenge-card {
        width: 100%;
        max-width: 100%;

        .content-section {
            font-size: 14px;
        }

        .learn-more-button {
            .button-text {
                font-size: 14px;
            }
        }
    }
}