.checkmark {
    color: green;
    font-size: 20px;
  }
  
  .circle {
    border: 2px solid black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
  }