@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/global" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/variables" as *;

.button {
  display: flex;
  width: 13.5rem;
  height: 3.75rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
  border: 2px solid #000;
  background-color: $MVP-White;

  &--blue:hover {
    background-color: $MVP-Light-Blue;
    color: $MVP-White;
  }

  &--yellow:hover {
    background-color: $MVP-Yellow;
  }
}
