@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.new-matched-users {
  margin: 1rem;
  display: flex;

  justify-content: center;
  .new-matched {
    margin: 6.654rem 0 0;
    height: 69%;
    width: 35.6rem;
    //   border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // @include Tablet {
    //   width: 20rem;
    // }

    &__title {
      font-size: 1.875rem;
      font-weight: 700;
    }
    &__user-info {
      margin: 2.5rem 0;
      width: 21.75rem;
      height: 7rem;
      display: flex;
      justify-content: space-between;
    }
    &__user {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
    }
    &__user-area {
      display: flex;
      flex-direction: column;
    }

    &__user-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0 1.25rem;
    }
    &__user-title-text {
      font-family: Corben;
      font-size: 1.25rem;
      line-height: 2.313rem;
    }
    &__user-social {
      display: flex;
      justify-content: flex-end;
    }
    &__user-social-icon {
      width: 1.875rem;
    }
    &__text {
      font-size: 0.938rem;
      line-height: 1.438rem;
      font-weight: 700;
    }
    &__button-div {
      display: flex;
      padding: 2.813rem 0 0;
      // @include Tablet {
      //   flex-direction: column;
      // }
    }
    &__button--left {
      margin: 0 1.875rem 0 0;
      transition: ease-in 0.3s;
      &:hover {
        background-color: $Faded-Blue !important;
        cursor: pointer;
      }
    }
    &__button--right {
      background-color: $MVP-Dark-Blue !important;
      cursor: pointer;
    }
  }
}
