.textarea {
  display: flex;
  flex-direction: column;
  //width: 570px;
  margin: auto;
  gap: 10px;
  margin-top: 45px;
  &__question {
    //TODO:: adjust the font family after
    font-family: "Gilroy-ExtraBold";
    font-size: 1.2rem;
  }

  &__input {
    height: 150px;
    resize: none;
    padding:1rem;
  }
}
