@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

* {
  margin: 0;
  padding: 0;
  // background-color: $Powder-Blue;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gilroy", sans-serif;
}

p, button {
  font-family: "Gilroy", sans-serif;
}