@use "./mixins" as *;
@use "./variables" as *;
@use "./typography" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Corben-Regular";
}

a {
  text-decoration: none;
}
