// Primary Colors
$MVP-black: #000000;
$MVP-Light-Blue: #0099ff;
$MVP-White: #ffffff;
$MVP-Yellow: #ffd22f;

// Secondary Colors
$MVP-Dark-Blue: #0954b0;
$MVP-Red: #ff7070;
$MVP-Cream: #fff9f4;

$Powder-Blue: #c8e7fb;

// Media Query Breakpoints
// $Mobile: 576px;
$Mobile: 0px;
$Tablet: 768px;
$Desktop: 1024px;
