@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.listwithcheckbox {
  font-family: "Gilroy-ExtraBold";
  margin-bottom: 1rem;
  &--goaldiv {
    display: flex;
    justify-content: center;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  &_options {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    &--checkboxescustom {
      width: 20px;
    }
    &--checkboxesgoals {
      width: 30px;
      height: 30px;
    }

    .option_active {
      color: $MVP-black;
    }
    .option_goal {
      font-size: 15px;
      line-height: 23px;
      padding: 0 0 0 15px;
    }

    .option_inactive {
      color: $MVP-faded;
    }
  }
}
