@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.listwithcheckbox {
  &_options {
    display: flex;
    flex-direction: column;
    .option_active {
      color: $MVP-black;
    }
    .option_inactive {
      color: $MVP-faded;
    }
  }
}
