@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.dropdown-checkbox {
  margin: 0 auto;
  background-color: $MVP-White;
  display: flex;
  flex-direction: column;
  font-family: "Gilroy-ExtraBold";
  font-size: 1.3rem;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 22px;
    font-weight: 300;
    color: $MVP-black;
    cursor: pointer;
    background: $MVP-White;
  }

  &__block {
    display: flex;
    flex-direction: column;
  }

  &__details {
   
    background: $MVP-White;
  }

  &__label {
    margin-bottom: 1rem;
    display: block;
  }

  &__group {
  
    gap: 3px;
    display: grid;
    grid-template-columns: 33.33% 33.3% 33.3%;
    align-items: center;
    justify-items: start;

    &.one-coloums {
      grid-template-columns:auto;
      flex-direction: column;
      row-gap: 15px;
    }
    &.three-columns {
      flex-wrap: wrap;
      row-gap: 5px;
      .dropdown-checkbox__item {
      width:calc(100% - 5px); 
       height: 40px;
      }
    }
  }

  &__item {
    font-family: "Gilroy-Light";
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;

    input {
      display: none;
    }

    .checkbox-wrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      gap: 10px;
    }
    .checkbox-custom {
      position: relative;
      cursor: pointer;
      margin-right: 0px;

      &__circle{
         width: 18px;
      height: 18px;
      border: 3px solid $MVP-black;
      border-radius: 50%;

      }
    }

    input:checked + .checkbox-wrapper .checkbox-custom .checkbox-custom__circle::after {
      content: "";
      width: 15px;
      height: 15px;
      border-radius: 50%;
      border: 3px solid $MVP-black;
      background: $MVP-Light-Blue;
      position: absolute;
      transform: translate(-15%, -15%);
    }

    .checkbox-text {
      display: inline-block;
    }
  }
}

.test{
  width: 18px;
      height: 18px;
      border: 3px solid $MVP-black;
      border-radius: 50%;

}
