@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
    @include Mobile {
        padding: 1rem;
    }

    @include Tablet {
        padding: 40px;
    }

    @include Desktop {
        padding: 40px 128px;
    }

}

.image {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.challenge {
    @include Mobile {
        flex-direction: column
    }

    @include Tablet {

        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }


}

.overview {

    @include Mobile {
        width: auto;
        margin: 1rem;
    }

    @include Tablet {
        width: 66%;
        margin: 40px;
    }

    &__difficulty {
        background: #09F;
        border-radius: 50px;
        font-size: 12px;
        padding: 2.5px 16px 5.5px 16px;
        color: $MVP-White;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    &__title {
        font-size: 3rem;
        font-family: Corben;
        line-height: 1.1;
        margin-top: 1rem;
    }

    &__overview {
        margin-top: 1rem;
        font-family: Corben-Regular;
        font-weight: 400;
    }

    &__details {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 3rem;
    }

    &__type {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    &__type-text {
        font-size: 18px;
        font-family: Corben-Regular;
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}

.objectives,
.solutions {
    margin-top: 3rem;

    &__title {
        font-size: 1.25rem;
        font-family: Corben;
    }

    &__item {
        list-style-position: inside;
        font-family: Corben-Regular;
        font-size: 1rem;
    }
}

.examples {
    margin-top: 3rem;

    &__title {
        font-size: 1.25rem;
        font-family: Corben;
    }

    &__item {
        display: block;
        margin-top: 1rem;
        font-size: 16px;
    }

    &__item:first-child {
        margin-top: 0.5rem;

    }
}

.instructions {

    @include Mobile {
        width: auto;
        padding: 1rem;
    }

    @include Tablet {
        padding: 40px;
        width: 33%;
        border-left: 1px solid #757575;
    }


    &__chip {
        background: #0954B0;
        display: inline-block;
        border-radius: 50px;
        border-radius: 50px;
        font-size: 12px;
        padding: 2.5px 16px 5.5px 16px;
        color: $MVP-White;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        text-transform: capitalize;
        letter-spacing: 1px;
        margin-top: 1rem;
    }

    &__list {
        margin-top: 1rem;
    }

    &__item {
        list-style-position: inside;
        font-family: Corben-Regular;
        font-size: 1rem;
    }
}

.action {
    display: flex;
    gap: 1.5rem;
    margin-top: 3rem;

    @include Mobile {
        flex-direction: column;
    }

    @include Tablet {
        flex-direction: row;
    }

    &__button {
        background-color: $MVP-Light-Blue;
        color: $MVP-black;
        font-family: Corben;
        border-radius: 4px;
        font-size: 1.25rem;
        padding: 0.5rem 2.5rem;
        border-top: 3px solid $MVP-black;
        border-right: 6px solid $MVP-black;
        border-bottom: 6px solid $MVP-black;
        border-left: 3px solid $MVP-black;

        @include Mobile {
            width: 100%;
        }

        @include Desktop {
            width: auto;
        }

        &:hover {
            background: #0954B0;
        }


        &--secondary {
            background-color: $MVP-White;
            

            &:hover {
                background-color: $MVP-Yellow;
            }
        }
    }
}

.steps {
    flex: 1;
    margin: 40px;
}