@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as*;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.dropdown {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &_wrapper {
 
    &_select {
      position: relative;
      display: flex;
      flex-direction: column;
      border-width: 0 2px 0 2px;
      border-style: solid;
      border-color: #394a6d;
      &_trigger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 22px;
        font-size: 20px;
        font-weight: 300;
        color: #3b3b3b;
        line-height: 60px;
        background: #ffffff;
        cursor: pointer;
        border-width: 2px 0 1px 0;
        border-style: solid;
        border-color: #394a6d;
        
      }
      &_option {
        border-width: 0px 0px 1px 0;
        border-style: solid;
        border-color: #394a6d;
        background: #fff;
        transition: all 0.5s;
    
      }
    
      .custom-option {
        display: block;
        padding: 0 22px 0 22px;
        border-width: 0px 0 1px 0;
        border-style: solid;
        border-color: #394a6d;
        font-size: 22px;
        font-weight: 300;
        color: #3b3b3b;
        line-height: 60px;
        cursor: pointer;
        transition: all 0.5s;
      }
    
    }
  }
}
