@use "../../styles/partials/typography" as *;
@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.goalComponent {
  //   margin: 1rem;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;

  .matched {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;

    &__images {
      display: flex;
      gap: 60px;
      justify-content: center;
      padding: 2% 0;
      width: 100%;
    }

    &__user {
      height: 100px;
      border-radius: 50%;
      width: 100px;
    }
  }
  .goalHeadingContainer {
    position: relative;
    text-align: center;

    &__goalTitle {
      font-family: Corben;
      padding: 10px;
      font-size: 30px;
      line-height: 56px;
    }
    &__goalPrompt {
      font-size: 15px;
      padding: 0 0 31px;
      font-family: Gilroy-ExtraBold;
    }
  }
}
