@import '../../styles/partials/variables.scss';


.children > button{
    margin: 20px auto; /* Adjust margin to center vertically */
    display: flex; /* Use flexbox */
    border: none;
    cursor: pointer;
}
.children{
    width: 100%;
}
.close-btn {
    margin: 10px auto; /* Adjust margin to center vertically */
    padding: 10px;
    display: flex; /* Use flexbox */
    color: $MVP-Dark-Blue;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    position: relative;
  	font-weight: 800;
    
}

.iconBodyTitle {
  	width: 24px;
  	position: relative;
  	height: 24px;
}

.titleBodyTitle {
  	position: relative;
  	font-weight: 800;
}

.bodyTitleOutput {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	gap: 8px;
}

.header {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: flex-start;
  	padding: 18px 0px;
}

.buttonHifi {
  	border-radius: 8px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
}

.colorButton {
  	border-radius: 8px;
  	background-color: #0954b0;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: flex-start;
  	padding: 8px 16px;
  	box-sizing: border-box;
}

.buttonContinue {
  	height: 64px;
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
}

.buttonSignIn {
  	display: flex;
  	flex-direction: row;
  	align-items: flex-start;
  	justify-content: flex-start;
  	text-align: center;
  	color: #fff;
}

.cancel {
  	position: relative;
  	font-weight: 300;
}

.cancelWrapper {
  	width: 216px;
  	height: 64px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
}

.buttonCancel {
  	width: auto;
  	background-color: rgba(255, 255, 255, 0);
  	height: 50px;
  	display: flex;
  	flex-direction: row;
  	align-items: center;
  	justify-content: center;
  	padding: 8px 16px;
  	box-sizing: border-box;
  	font-size: 20px;
}

.popUpModal {
  	width: 100%;
  	position: relative;
  	border-radius: 15px;
  	background-color: #ffffff;
  	border: 1px solid #c9d4df;
  	box-sizing: border-box;
  	height: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: wrap;
  	align-items: center;
  	justify-content: center;
  	padding: 32px;
  	// gap: 24px 32px;
  	text-align: left;
  	font-size: 24px;
  	color: #0954b0;
  	font-family: Gilroy;
}

.modal {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    width:600px;
    max-width:calc(100% - 80px);
    max-height:calc(100% - 80px);
  }
 
  .modal .content {
    overflow:auto;
    max-height:calc(100vh - 125px);
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(230, 238, 247, 0.85);
  }
