.challenge-page {
    padding: 20px 20px;
    max-width: 1500px;
    margin: auto;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6); // Semi-transparent overlay
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-family: 'Corben', sans-serif;
            font-size: 2rem;
            margin: 0;
        }

        .filter {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 8px;
            }

            span {
                font-family: 'Corben', sans-serif;
                font-weight: bold;
            }
        }
    }

    .selected-filters {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;

        .filter-tab {
            border: 2px solid #000000;
            background-color: #FFD700;
            padding: 5px 10px;
            border-radius: 10px;
            font-weight: bold;
        }
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}