.challenge-page {
    padding: 20px 20px;
    max-width: 1300px;
    margin: auto;

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h1 {
            font-family: 'Corben', sans-serif;
            font-size: 2rem;
            margin: 0;
        }

        .filter {
            display: flex;
            align-items: center;
            cursor: pointer;

            img {
                margin-right: 8px;
            }

            span {
                font-family: 'Corben', sans-serif;
                font-weight: bold;
                font-size: larger;
            }
        }
    }

    .selected-filters-container {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .filter-name {
        font-size: larger;
        font-family: 'Corben', sans-serif;
        margin-right: 15px;
    }

    .selected-filters {
        display: flex;
        // flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .filter-tab {
        display: inline-flex;
        align-items: center;
        // margin-right: 10px;
        border: 2px solid #000000;
        background-color: #FFD700;
        padding: 5px 10px;
        border-radius: 10px;
        font-size: large;
        font-weight: 800;
    }

    .filter-text {
        display: flex;
        margin-right: 5px;
        padding-bottom: 1px;
    }

    .close-icon {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}