@import "../../styles/partials/mixins.scss";
@import "../../styles/partials/variables.scss";
@import "../../styles/partials/typography.scss";

.pairup-board {
    display: flex;
    flex-direction: column;
    font-family: "Corben-Bold";
    align-items: center;
    padding: 2rem;
    background-color: #f9f9f9;
    min-height: 100vh;
  }


  .pairup-board_text{
    font-family:"Corben-Bold" ;
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
 
  .pairup-board__actions {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
  }

 .btn-primary:hover + .btn-secondary,
 .btn-secondary:hover + .btn-primary {
          background-color: #007bff; 
          color: whitesmoke;
          border-color: #007bff;
      }
 .btn-secondary:hover + .btn-primary,
 .btn-primary:hover + .btn-secondary {
          background-color: whitesmoke;
          color: black;
          border-color: black;
      }

  .pairup-board_text-bottom{
    font-family:"Corben-Bold" ;
    font-size: 1.6rem;
    margin-top:3rem;
  }
 

.btn {
  font-size: 0.8rem;
  border-radius: 0.25rem;
  border: 3px solid black;
  background-color: whitesmoke;
  color: black;
  box-shadow: 2px 3px 0 black;
  cursor: pointer;
  font-family: "Corben-Bold";
  width: 15rem;
  height: 2.2rem;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;

 &:hover {
    background-color: #007bff; 
    color: whitesmoke;
    border-color: #007bff;
  }

  &:active {
    background-color:  #007bff; 
    transform: scale(0.98);
  }
}

.btn-primary {
  background-color: #007bff;
  color: whitesmoke;
  border: 2px solid #007bff;
  color: black;
  box-shadow: 2px 3px 0 black;
  border: 3px solid black;

  &:hover {
    background-color: $MVP-Dark-Blue-faded;

    color: black;
    box-shadow: 2px 3px 0 black;
    border: 3px solid black;
  }

  &:active {
    background-color: #007bff;

  }
}

.btn-secondary {
  background-color: whitesmoke;
  color: black;
  border: 2px solid black;

  &:hover {
    color: whitesmoke;
    background-color: $MVP-Dark-Blue-faded;

    color: black;
    box-shadow: 2px 3px 0 black;
    border: 3px solid black;
  }

  &:active {
    background-color: #007bff;

  }
}

